#main-title {
    background-image: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
}

#right-btn-text {
    background-image: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
}

#left-btn {
    background: radial-gradient(250% 450% at 90% 25%, #C27FCF 0%, #0368FF 70%);
}

